body {
  background: #263238;
}

#app {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin-top: 60px;
}

.link,
.link:hover,
.link:visited,
.link:active {
  display: inline-block;
  color: #4fc08d;
  margin-bottom: 1em;
}

.item-card {
  border: 2px solid #4fc08d;
  border-radius: 4px;
  cursor: pointer;
  padding: 1em;
}
